@charset "utf-8";

/* reset the layout */
* {
    margin: 0;
    padding: 0;
}

#header {
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: #a7c957;
    height: 70px;
}

#header h1 {
    margin:7px 0;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 46px;
    color: #7f4f24;
}

/* styling top-nav id selector */
#top-nav {
    background-color: #386641;
    height: 30px;
}

/* styling the list items inside the top-nav*/
#top-nav ul li {
    list-style-type: none;
    display: inline;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;

}

/* styling the anchor selectors inside top-nav */
#top-nav ul li a {
    margin: 0px 10px;
    padding: 0px 10px;
}

#top-nav ul li a:link {
    text-decoration: none;
    color: #dda15e;
}

#top-nav ul li a:visited {
    color: #1d3557;
}

#top-nav ul li a:hover {
    color: darkgray;
    text-decoration: underline;
}

/* styling the main id selector 
#main {
    margin:auto;
    width: 70%;
    padding: 10px;
    background-color: #e9edc9;
    height: 500px;
} */



